

body {
    background-color: #142d4c;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
    font-family: monospace;
}


.quiz-container {
    width: 560px;
    background: #ececec;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px 50px;
    box-sizing: border-box;
    font-family: monospace;
}

.active-question {
    font-size: 32px;
    color: black;

}

.total-question {
    font-size: 16px;
    color: gray;
}

h2 {
    font-size: 23px;
    margin: 0;
}

.score {
    font-size: 25px;
    font-weight: bold;
    color: #f54b42;
}

.try-again {
    font-size: 25px;
}

ol{
    margin-top: 20px;
    margin-left: -40px;
}

li {
    margin: 15px;
    list-style-position: inside;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 16px;
    padding: 10px;
     

}
.selected-index {
    border: 3px solid #020202;
}

.correct {
    color:#ececec;
    background-color: #05b660;
    border: 3px solid #020202;

}

.wrong {
    color:#ececec;
    background-color: #ea231c;
    border: 3px solid #020202;

}



button {
    margin: 15px 9px 0px 9px;
    background: #9fd3c7;
    border-radius: 9px;
    font-size: 19px;
    padding: 10px 30px;
    outline: none;
    border: none;
    cursor: pointer;
    
    &:disabled {
        color: gray;
        cursor: not-allowed;
    }

}

h3 {
    font-size: 18px;
    color: #142d4c;
    margin: 10px;
}